@meta only screen and (min-width:  480px){
    body{
    background: url(test-map.png);
    }

    #login_block{
        position: absolute;
        top: 50%;
        margin-top: -200px;
        left: 50%;
        margin-left: -200px;
        background-color: whitesmoke;
        width: 400px;
        height: 450px;
        border-radius: 25px;
        text-align: center;
        padding: 5px 40px;
        box-sizing: border-box;

    }


    .login-title{
        color: #59c2c5;
        font-size: 15px;
        text-align: center;
    }


    .login-title span{
        margin-right: 5px;
        display: inline-block;
        color: rgba(0,0,0,0.4);

    }

    .text_block{
        background-color: whitesmoke;
        width: 100%;
        height: 48px;
        margin-bottom: 10px;
        border: none;
        border-bottom: 2px solid silver;
        outline: none;
        font-size: 22px;


    }

    #login_btn{
        background-color: #59c2c5;
        width: 38%;
        height: 48px;
        border-radius: 8px;
        margin-top: 40px;
        font-size: 28px;
        font-weight: 600;
        color: white;
    }
}

@meta only screen and (max-width: 480px){
    body{
    background: url(test-map.png);
    }

    #login_block{
        position: absolute;
        top: 50%;
        margin-top: -200px;
        left: 50%;
        margin-left: -200px;
        background-color: whitesmoke;
        width: 200px;
        height: 250px;
        border-radius: 25px;
        text-align: center;
        padding: 5px 40px;
        box-sizing: border-box;

    }


    .login-title{
        color: #59c2c5;
        font-size: 15px;
        text-align: center;
    }


    .login-title span{
        margin-right: 5px;
        display: inline-block;
        color: rgba(0,0,0,0.4);

    }

    .text_block{
        background-color: whitesmoke;
        width: 50%;
        height: 24px;
        margin-bottom: 10px;
        border: none;
        border-bottom: 2px solid silver;
        outline: none;
        font-size: 12px;


    }

    #login_btn{
        background-color: #59c2c5;
        width: 20%;
        height: 24px;
        border-radius: 8px;
        margin-top: 40px;
        font-size: 14px;
        font-weight: 400;
        color: white;
    }
}


